.buttonMenuBox {
  width: 100px;
  height: 100px;
  position: fixed;
  right: 0px;
  top: 0px;
  .iconItem {
    width: 32px;
    height: 32px;
    margin: auto;
    margin-top: 34px;
    //color: #8d8d8d;
    cursor: pointer;
  }
}